.timer {
  font-size: 48px;
}

.value {
  display: inline-block;
  width: 190px;
  margin-right: 5px;
  text-align: right;
}

.remarks {
  margin-top: 30px;
  font-size: 16px;
}

#date-input {
  font-size: 36px;
  margin-left: 20px;
}

.form-controls {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 24px;
}

.form-controls button {
  font-size: inherit;
  padding: 10px 20px;
  /* margin-left: 30px; */
  margin-left: 110px;
}

.valid {
  background-color: rgba(0, 255, 0, 0.5);
}

.invalid {
  background-color: rgba(255, 0, 0, 0.5);
}
